<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Rest API Demo</a>
    <div class="navbar-nav col-xl-10">
      <li class="nav-item">
        <a routerLink="record" class="nav-link">Records</a>
        <a routerLink="client" class="nav-link">Clients</a>
        <a routerLink="car" class="nav-link">Cars</a>
        <a routerLink="model" class="nav-link">Models</a>
        <a routerLink="category" class="nav-link">Categories</a>
        <a routerLink="manufacturer" class="nav-link">Manufacturers</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>