/* You can add global styles to this file, and also import other style files */
@import "../node_modules/owp.glyphicons/glyphicons.min.css";

.float-right {
    float: right;
}

.tar {
    text-align: right;
}

.table-hover tbody tr:hover {
    cursor: pointer;
}

.btn {
    margin-left: 5px;
}